* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'trebuchet ms', arial, sans-serif;
	padding: 0px;
	margin: 0px;
	font-size: .80em;
	background: #F5F5F5;
	color: #555;
}

p {
	margin: 0px;
	padding: 0px 0px 16px 0px;
	line-height: 1.7em;
}

h1,h2,h3,h4,h5,h6 {
	color: #00B2FC;
	padding: 0 0 5px 0;
}

h1,h4 {
	font: normal 175% "century gothic", arial;
	margin: 0 0 15px 0;
	padding: 15px 20px 5px 0;
	color: #444;
}

h2,h5 {
	padding: 0 0 5px 0;
	font: normal 110% arial;
	text-transform: uppercase;
	letter-spacing: 0;
}

h3,h6 {
	color: #00B2FC;
	font: normal 95% arial;
	letter-spacing: 0;
	padding: 0 0 15px 0;
}

h4 {
	color: #00B2FC;
}

h5,h6 {
	color: #00B2FC;
}

img {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

a,a:hover {
	border-bottom: 1px dotted;
	color: #00B2FC;
	outline: none;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid;
}

form {
	padding: 0;
	margin: 0;
}

.left {
	float: left;
	width: auto;
	margin-right: 10px;
}

.right {
	float: right;
	width: auto;
	margin-left: 10px;
}

.center {
	display: block;
	text-align: center;
	margin: 20px auto;
}

blockquote {
	margin: 20px 0;
	padding: 10px 20px 0 20px;
	border: 1px solid #E5E5DB;
	background: #FFF;
}

ul {
	margin: 2px 0px 18px 16px;
	padding: 0px;
}

ul li {
	list-style-type: square;
	margin: 0px 0px 6px 0px;
	padding: 0px;
}

ol {
	margin: 8px 0px 0px 24px;
	padding: 0px;
}

ol li {
	margin: 0px 0px 11px 0px;
	padding: 0px;
}

#header,#panel,#site_content,#menubar {
	margin-left: auto;
	margin-right: auto;
}

#header {
	height: 100px;
	background: url(images/back.png) repeat-x;
}

#logo {
	width: 870px;
	position: relative;
	height: 80px;
}

#logo #logo_text {
	position: absolute;
	top: 15px;
	left: 150px;
}

#logo h1 {
	font: normal 400% "century gothic", arial, sans-serif;
	border-bottom: 0;
	text-transform: none;
	letter-spacing: -1px;
	padding: 12px 0 0 0;
	color: #00B2FC;
	margin: 0;
}

#menubar {
	left: 129px;
	position: absolute;
	width: 800px;
	height: 45px;
	padding-left: 0;
}

ul#menu {
	float: left;
	margin: 0;
}

ul#menu li {
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 14px;
	list-style: none;
}

ul#menu li a {
	letter-spacing: 0.1em;
	font-size: 105%;
	display: block;
	float: left;
	height: 20px;
	text-decoration: none;
	padding: 8px 26px 5px 12px;
	text-align: center;
	color: #00B2FC;
	border: none;
}


ul#menu li.tab_selected a {
	height: 22px;
	padding: 8px 26px 5px 12px;
}

ul#menu li.tab_selected {
	margin: 10px 0 0 0;
	background: url(images/tabs.png) no-repeat 0 0px;
}

ul#menu li.tab_selected a {
	background: url(images/tabs.png) no-repeat 100% 0px;
	color: #00B2FC;
}

ul#menu li.tab_selected a:hover,ul#menu li a:hover {
	color: #00B2FC;
}

#panel {
	width: 554px;
	float: left;
	margin: 0 0 20px 20px;
	height: 154px;
	border: 15px solid #0081B6;
}

#site_content {
	width: 875px;
	overflow: hidden;
	background: #FFF url(images/site_content.png) repeat-y;
	padding-top: 20px;
}

#site_content_bottom {
	width: 875px;
	height: 5px;
	clear: both;
	background: url(images/site_content_bottom.png) no-repeat;
}

.sidebar {
	float: right;
	width: 178px;
	padding: 0 25px 15px 15px;
}

.sidebar ul {
	border-top: 1px solid #D6D9C9;
	width: 178px;
	padding-top: 4px;
	margin: 4px 0px 30px 0px;
}

.sidebar li {
	list-style: none;
	padding: 0px 0px 4px 0px;
	border-bottom: 1px solid #D6D9C9;
}

.sidebar li a,.sidebar li a:hover {
	text-decoration: none;
	padding: 0px 0px 0px 18px;
	display: block;
	background: transparent url(images/arrow.png) no-repeat left center;
	color: #555;
	border: none;
}

.sidebar li a.selected,.sidebar li a:hover,.sidebar li a.selected:hover
	{
	background: transparent url(images/arrow_select.png) no-repeat left
		center;
}

#content {
	text-align: left;
	width: 597px;
	padding: 20px 10px 15px 26px;
}

#footer {
	left: 25px;
	width: 730px;
	height: 40px;
	text-align: left;
	color: #444;
	position: absolute;
}

.form_settings {
	margin: 15px 0 0 0;
}

.form_settings p {
	padding: 0 0 4px 0;
}

.form_settings span {
	float: left;
	width: 200px;
	text-align: left;
}

.form_settings input,.form_settings textarea {
	padding: 2px;
	width: 299px;
	font: 100% arial;
	border: 1px solid #E5E5DB;
	background: #FFF;
	color: #47433F;
}

.form_settings .submit {
	font: 100% arial;
	border: 1px solid;
	width: 99px;
	margin: 0 0 0 206px;
	height: 26px;
	padding: 2px 0 3px 0;
	cursor: pointer;
	background: #3B3B3B;
	color: #FFF;
}

.form_settings textarea,.form_settings select {
	font: 100% arial;
	width: 299px;
}

.form_settings select {
	width: 304px;
}

.form_settings .checkbox {
	margin: 4px 0;
	padding: 0;
	width: 14px;
	border: 0;
	background: none;
}

.separator {
	width: 100%;
	height: 0;
	border-top: 1px solid #D9D5CF;
	border-bottom: 1px solid #FFF;
	margin: 0 0 20px 0;
}

table {
	margin: 10px 0 30px 0;
}

table tr th,table tr td {
	text-align: left;
	background: #3B3B3B;
	color: #FFF;
	padding: 7px 4px;
}

table tr td {
	background: #CCCCCC;
	color: #47433F;
	border-top: 1px solid #FFF;
}

input[type=button] {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

input[type=submit] {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

input[type=password] {
	width: 80%;
	margin-left: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

input[type=text] {
	width: 80%;
	margin-left: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

select {
	width: 80%;
	margin-left: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

textarea {
	width: 100%;
	height: 200px;
}

H2.error {
	color: red;
}

div.error {
	font-size: 120%;
	color: #000097;
}

aside>div {
	width: 100%;
	margin-bottom: 1.25em;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

aside {
	width: 100%;
	float: left;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary
	{
	display: block;
}

.wrap {
	width: 90%;
	max-width: 75em;
	margin: auto;
	overflow: hidden;
}

.main {
	padding-bottom: 1.25em;
}

.us_wrapper {
	text-shadow: none;
	clear: both;
	line-height: 0;
	cursor: auto;
	max-width: 100%;
}

.us_fan_count_wrapper .us_fan_count {
	text-align: center;
	color: #fff !important;
	display: inline-block;
}

.us_fan_count_wrapper .rows-3.us_fan_count {
	width: 50%;
}

a {
	color: #4a88f4;
	text-decoration: none;
}

a {
	background: transparent;
}

.us_wrapper a {
	color: #fff !important;
	text-decoration: none !important;
	border: none;
}

.us_fan_count_button {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
}

div[class*='us_mailchimp'] {
	background-color: #52bad5;
}

div[class*='us_youtube'] {
	background-color: #cc181e;
}

div[class*='us_pinterest'] {
	background-color: #AE181F;
}

div[class*='us_google'] {
	background-color: #D95232;
}

div[class*='us_twitter'] {
	background-color: #00ABF0;
}

div[class*='us_facebook'] {
	background-color: #3b5998;
}

.us_fan_count_button:hover {
	background-color: black !important;
}

.us_wrapper .us_fan_count_button,.us_wrapper .us_button {
	-webkit-transition: background-color 400ms ease-out;
	-moz-transition: background-color 400ms ease-out;
	-o-transition: background-color 400ms ease-out;
	transition: background-color 400ms ease-out;
}

.us_wrapper .us_fan_count_button,.us_wrapper .us_button {
	margin: 2.5px;
}

.us_fan_count_wrapper .us_fan_count_icon_holder {
	font-size: 60px;
	height: 65px;
	line-height: 65px;
	padding-top: 20px;
}

.us_fan_count_wrapper .us_fan_count_holder {
	font-size: 25px;
	height: 40px;
	line-height: 40px;
}

.us_fan_count_wrapper .us_fan_count_desc {
	font-size: 20px;
	height: 35px;
	line-height: 35px;
}

.us_fan_count_wrapper .us_fan_count_desc {
	font-size: 16px;
	height: 30px;
	line-height: 20px;
}

.us_wrapper [class^=us-icon-]::before,.us_wrapper [class*=' us-icon-']::before
	{
	font-family: ultimate-social;
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: 0.2em;
}

.us_wrapper .us-icon-mailchimp::before {
	content: "\e800";
}

.us_wrapper .us-icon-youtube::before {
	content: "\e816";
}

.us_wrapper .us-icon-pinterest::before {
	content: "F";
}

.us_wrapper .us-icon-google::before {
	content: "B";
}

.us_wrapper .us-icon-twitter::before {
	content: "C";
}

.us_wrapper .us-icon-facebook::before {
	content: "E";
}

.us_wrapper .us-icon-pinterest1::before {
	content: "C";
}

.us_wrapper .us-icon-google1::before {
	content: "E";
}

.us_wrapper .us-icon-twitter1::before {
	content: "NY";
}

.us_wrapper .us-icon-facebook1::before {
	content: "CG";
}

ul.display-error {
	background-repeat: no-repeat;
	width: 80%;
	border: 1px solid #D8D8D8;
	padding: 5px;
	border-radius: 5px;
	font-family: Arial;
	font-size: 14px;
	text-transform: uppercase;
	background-color: rgb(255, 249, 242);
	color: rgb(211, 0, 0);
	text-align: center;
	margin-top: 10px;
	margin-left: 20px;
	padding-top: 5px;
	margin-left: 10px;
}

ul.display-error li {
  background: url('images/error.png') no-repeat left top;
  padding: 3px 0px 3px 10px;
  list-style: none;
  margin-left: 10px; 
  margin-top: 8px;
}

/* Con estos estilos tenemos un tooltip. Modificado Clara y Xesco 24/12/14 */
.tooltip {
	display: inline;
	position: relative;
	margin-right: 50px;
}

/*
.tooltip:hover:after {
	background: #333;
	background: rgba(0, 0, 0, .8);
	border-radius: 5px;
	bottom: 26px;
	color: #fff;
	content: attr(title);
	left: -20%;
	padding: 5px 15px;
	position: relative;
	z-index: 98;
	width: 220px;
}

.tooltip:hover:before {
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left: 50%;
	position: relative;
	z-index: 99;
}
*/
.tooltip:hover:after {
	background: #333;
	background: rgba(0, 0, 0, .8);
	border-radius: 5px;
	color: #fff;
	content: attr(title);
	padding: 5px 15px;
	z-index: 98;
	position: absolute;
	top: 50%;
	left: 1px;
	width: 750 px;
	height: 150px;
	margin-top: -75px;
	margin-left: -375px;
}

.tooltip:hover:before {
	border: solid;
	border-color: #333 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left: 1px;
	position: absolute;
	z-index: 99;
}

.myRadioCtrl span { 
	padding-right: 20px; 
}

}